@mixin accordion-header($dark: false){
  @include box($dark);
  height: $header-box-height;
  line-height: $header-box-height;
  z-index: 100;
  box-shadow: 0 -1px 0 $bg-light, 0 0 2px -2px rgba(0, 0, 0, 0.12),
    0 2px 4px -4px rgba(0, 0, 0, 0.24);
    
    @if $dark {
      box-shadow: 0 -1px 0 $bg-dark, 0 0 2px -2px rgba(0, 0, 0, 0.12),
        0 2px 4px -4px rgba(0, 0, 0, 0.24);
    }
  > label {
    margin: 0;
    @include box-holder($dark);
    padding-left: 25px;

    > ul {
      position: absolute;
      left: 20px;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
      padding: 0;
      z-index: 5;
      li {
        display: inline-block;
        margin-right: 10px;
        @include text-header-link($dark);

        a {
          @include text-header-link($dark);
        }
        
        &.active {
          a {
            @include text-header-link-active($dark);
          }
        }
      }
      &:last-of-type {
        left: auto;
        right: 20px;
        li {
          margin-left: 10px;
          margin-right: 0;
        }
      }
    }
  }
}
