@mixin box-footer($dark: false) {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  a {
    @include text-box-footer-link();
  }
  span {
    a {
      &:first-of-type {
        @include text-date();
      }
    }
  }
}