@mixin text-styler($font-size: 10px,  $line-height: 1, $color: $text-color, $font-weight: normal){
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: $font-weight
}

@mixin text-header-link(){
  @include text-styler(14px, $box-height, $second-color);
  text-decoration: none;
}

@mixin text-header-link-active(){
  @include text-styler(14px, $box-height, $white, 700);
  text-decoration: none;
  background: $fifth-color;
  border-radius: 5px;
  padding: 4px 8px;
}

@mixin text-counter(){
  @include text-styler(13px, $box-height)
}

@mixin text-box-header(){
  @include text-styler(14px, $box-height)
}

@mixin text-box-content(){
  @include text-styler(14px, 17px)
}

@mixin text-box-content-link(){
  @include text-styler(14px, 17px, $second-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@mixin text-box-footer-link(){
  @include text-styler(11px, 1, $second-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }  
}

@mixin text-date(){
  @include text-styler(9px, 1, $fourth-color);
}

@mixin text-connection-error() {
  @include text-styler(12px, 1, $fourth-color);
  text-align: center;
  margin: 30px auto;
}