body {
  margin: 0;
  padding: 10px;
  background: $background-color;
  color: $text-color;
  font-family: $font-family;
  @include custom-scrollbar();
  > * {
    font-family: $font-family;
  }
  > .container {
    > header {
      @include main-header();
    }
    > main {
      @include accordion();
    }
    > footer {
      @include main-footer();
    }
  }
}
