@mixin accordion($dark: false) {
  margin: auto;
  width: 450px;
  > header {
    @include accordion-header($dark);
  }
  > input {
    display: none;
    &:checked {
      + section {
        height: auto;
        margin: 16px 0;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.32);
        @if $dark {
          box-shadow: 0 0 6px $bg-dark, 0 6px 12px rgba(0, 0, 0, 0.32);
        }
        > label {
          &:first-of-type {
            border-bottom: 1px solid rgba(0, 0, 0, 0.18);
            &:before {
              transform: rotate(90deg);
            }
          }
          &:last-of-type {
            display: inline-block;
          }
        }
        > article {
          display: inline-block;
        }
      }
    }
  }
  > section {
    @include box($dark);
    > label {
      &:first-of-type {
        @include box-holder($dark);
        padding-left: 25px;
        width: calc(100% - $box-height);
        &:before {
          @include box-holder-icon($dark);
        }
      }
      &:last-of-type {
        @include box-close($dark);
      }
    }
    > article {
      @include box-content($dark);
    }
  }
  .connection-error {
    @include text-connection-error($dark);
  }
}
