body {
  margin: 0;
  padding: 10px;
  background: $bg-light;
  color: $black;
  font-family: "Source Sans Pro", sans-serif;;
  @include custom-scrollbar();
  & > .container {
    & > header {
      @include main-header();
    }
    & > main {
      @include accordion();
    }
    & > footer {
      @include main-footer();
    }
  }

  &.dark {
    background: $bg-dark;
    color: $smoke;
    & > .container {
      & > main {
        @include accordion(true);
      }
      & > footer {
        @include main-footer(true);
      }
    }
  }
}
