@mixin main-footer($dark: false){
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0 5px;
  margin: 0;
  > a {
    outline: none;
    color: $green;
    text-decoration: none;
    @if $dark {
      color: $green-dark;
    }
    &:hover {
      color: $green;
      text-decoration: underline;
      @if $dark {
        color: $green-dark;
      }
    }
  }
}