$first-color: #eeeeed;
$second-color: #53a244;
$third-color: #333334;
$fourth-color: #666665;

$background-color: $first-color;
$text-color: $third-color;
$date-color: $fourth-color;

$scrollbar-color: $fourth-color;

$font-family: "Source Sans Pro", sans-serif;

$header-border-color: $second-color;
